@font-face {
    font-family: 'Avenir';
    src: url('font/AvenirLTStd-Medium.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Book';
    src: url('font/AvenirLTStd-Book.otf');
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'Lobster';
    src: url('font/LobsterTwo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* PÁGINA SOBRE/INDEX */

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    flex-wrap: wrap;
    background-color: #fff;
    background-size: cover;
}

footer {
    position: fixed;
    top: 90%;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 9.8vh;
    background: rgba(0, 0, 0, 0.4);
    padding: 0 6.6vw;
    box-sizing: border-box;
}

section.sec1 {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background: url('images/bg-1.png');
    background-size: cover;
}

#copyright {
    color: #FFF;
    font-family: 'Avenir', sans-serif;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 9.8vh;
    background: rgba(0, 0, 0, 0.5);
    padding: 0 7.6vw;
    box-sizing: border-box;
    z-index: 10;
}

nav.brand {
    float: left;
    height: 100%;
    line-height: 70px;
}

#redes h4 {
    line-height: 30px;
    float: left;
    padding: 0 20px;
}

#redes ul li a {
    padding: .8vh 0 .8vh 2.5vw;
    color: rgb(255, 255, 255);
}

#redes ul li a:hover {
    color: #FF4B59;
}

.brand h2 {
    float: left;
    margin: 0;
    padding: 0;
    color: #FFF;
    line-height: 60px;
    font-family: 'Lobster', sans-serif;
}

ul {
    float: right;
    display: flex;
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

ul li a {
    position: relative;
    display: block;
    height: 70px;
    font-family: 'Avenir', sans-serif;
    line-height: 70px;
    padding: 0 0 0 3vw;
    box-sizing: border-box;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
}

ul li a:hover {
    color: #FF4B59;
}

h2:hover {
    color: #FF4B59;
}

ul li a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}


/* PÁGINA SOBRE */

.sobre1 {
    color: #95989A;
    padding: 25vh 7vw 10vw 7vw;
    font-family: 'Avenir Book', sans-serif;
}

.sobre2 {
    color: #95989A;
    padding: 5vh 7vw 10vw 7vw;
    font-family: 'Avenir Book', sans-serif;
}

.sobre3 {
    color: #95989A;
    padding: 5vh 7vw 10vw 7vw;
    font-family: 'Avenir Book', sans-serif;
}

.sobre4 {
    color: #95989A;
    padding: 5vh 7vw 10vw 7vw;
    font-family: 'Avenir Book', sans-serif;
}

.sobre1 h1,
.sobre3 h1 {
    font-size: 8vh;
    font-family: 'Avenir', sans-serif;
    color: #696A6A;
}

.sobre1 p,
.sobre3 p {
    font-size: 2.8vh;
    padding: 10px 0vh 0px 0px;
}

.sobre1 p b,
.sobre3 p b {
    font-family: 'Avenir', sans-serif;
    color: #696A6A;
}

.sobre2 h1,
.sobre4 h1 {
    font-size: 8vh;
    font-family: 'Avenir', sans-serif;
    color: #696A6A;
}

.sobre2 p,
.sobre4 p {
    font-size: 2.8vh;
    padding: 10px 80vh 0px 0px;
}

.sobre2 p b,
.sobre4 p b {
    font-family: 'Avenir', sans-serif;
    color: #696A6A;
}

#img-perfil,
#img-skills {
    float: left;
    padding: 0px 100px 0px 0px;
    height: 50vh;
}

#img-hobbies,
#img-exp {
    float: right;
    padding: 0px 0px 100px 0px;
    max-width: 100%;
    height: 300px;
}

#redes2 {
    position: absolute;
    top: 90%;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 9.8vh;
    background: rgba(0, 0, 0, 0.4);
    padding: 0 100px;
    box-sizing: border-box;
}


/* PÁGINA CONTATO */

#contato {
    position: relative;
    color: #95989A;
    margin: 50vh 50vw -30vh 8vw;
    padding: 0;
}

#contato h1 {
    float: left;
    margin: 0;
    padding: 5vh 0vw 0vh 0vw;
    font-size: 10vh;
    font-family: 'Avenir', sans-serif;
    /* background-color: #FF4B59; */
    color: #696A6A;
}

#contato p {
    float: left;
    padding: 0vh 0vw 0vh 0vw;
    font-size: 2.8vh;
    /* background-color: #FF4B59; */
    font-family: 'Avenir Book', sans-serif;
}

.contato {
    position: relative;
    color: #95989A;
    padding: 34vh 8vw 13vh 8vw;
}


/* FORM */

form {
    /* float: right; */
    margin: -25vh 0 0vh 44vw;
    /* padding: 4vh 0vw 0vh 44vw; */
    /* background-color: #4fc24f; */
}

.group {
    position: relative;
    margin-bottom: 3em;
}

label {
    color: #BFC1C3;
    font-size: 15px;
    font-weight: normal;
    font-family: 'Avenir', sans-serif;
    position: absolute;
    pointer-events: none;
    top: 10px;
    transition: 0.2s ease all;
}

input {
    color: #95989A;
    font-size: 15px;
    padding: 10px 0px 10px 0px;
    display: block;
    outline: none;
    border: none;
    width: 40vw;
    border-bottom: 1px solid #d2d2d2;
}

textarea {
    color: #95989A;
    font-size: 15px;
    padding: 2vh 0 2vh 0;
    display: block;
    outline: none;
    border: none;
    width: 40vw;
    border-bottom: 1px solid #d2d2d2;
}

#bt {
    position: relative;
    float: right;
    margin: 0vh 0 0 0vw;
    padding: 1vh 0 1vh 0vw;
    border: none;
    width: 100px;
    border-radius: 4px;
    /* margin-right: 50px; */
    /* background-color: rgba(0, 0, 0, 0.075); */
    /* background-color: rgb(231, 231, 231); */
    color: #FFF;
    background-color: #95989A;
    ;
    /* font-family: 'Avenir', sans-serif; */
    font-weight: bold;
}

#bt:hover {
    color: #fff;
    background-color: #FF4B59;
}


/* BARS - ANIMAÇÃO */

.bar {
    position: relative;
    display: block;
    width: auto;
}

.bar:before,
.bar:after {
    content: "";
    height: 2px;
    width: 0;
    bottom: -1px;
    position: absolute;
    background: #FF4B59;
    transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}


/* INPUTS - VALIDAÇÃO */

input:valid,
textarea:valid {
    border-bottom: 1px solid #4fc24f;
}

input:valid~.bar:before,
input:valid~.bar:after,
textarea:valid~.bar:before,
textarea:valid~.bar:after {
    background: #4fc24f !important;
}

input:focus~label,
input.used~label,
textarea:focus~label,
textarea.use~label {
    top: -20px;
    font-size: 13px;
    color: #FF4B59;
}

input:valid~label,
input:valid.used~label,
textarea:valid~label,
textarea:valid.used~label {
    color: #4fc24f;
}

input:focus~.bar:before,
input:focus~.bar:after,
textarea:focus~.bar:before,
textarea:focus~.bar::after {
    width: 50%;
}


/* PORTFOLIO MENU-1*/

section.sec-port {
    /* width: 100vw;
    height: 100vh; */
    position: absolute;
    margin: 9.8vh 0 0vh 0;
    padding: 0;
    box-sizing: border-box;
    /* background-size: cover; */
}

.sec-port ul li a {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#btn-ilustra,
#btn-design,
#btn-modelagem {
    /* float: left; */
    height: auto;
    width: 33.4vw;
    /* width: 33.3vw; */
    margin: 0;
    padding: 0;
}


/* PORTFOLIO MENU-JOBS*/

.sec-port-2 {
    position: static;
    width: 84vw;
    margin: 10vh 6vw 6vh 8vw;
    padding: 0;
    /* background-color: #4fc24f; */
}

.breadcrumb {
    float: left;
    display: block;
    height: 70px;
    font-family: 'Avenir', sans-serif;
    line-height: 70px;
    margin: 3vh 0 0 0;
    padding: 0 0 0 2vw;
    box-sizing: border-box;
    color: #FF4B59;
    text-decoration: none;
    transition: .5s;
}

.arrow {
    float: left;
    display: block;
    height: 70px;
    font-family: 'Avenir', sans-serif;
    line-height: 70px;
    margin: 3vh -18px;
    padding: 0 0 0 0vw;
    box-sizing: border-box;
    color: rgb(136, 94, 98);
    text-decoration: none;
    transition: .5s;
}

.breadcrumb:hover {
    color: rgb(136, 94, 98);
}

.label-port {
    margin: 2vh 0 0 0;
    padding: 0vh 4vw;
    color: #696A6A;
    font-size: 6vh;
    font-family: 'Avenir', sans-serif;
}


/* table {
    position: static;
    text-align: center;
    width: 0;
    border: 0;
    padding: 0;
    margin: 0vh 0vw 0vh 2vw;
}

td {
    position: relative;
} */


/* .port-cell {
    position: relative;
    text-align: center;
    max-width: 340px;
    max-height: 340px;
    border-radius: 5%;
    width: 100%;
    height: 100%;
} */

.grid-container {
    display: grid;
    margin: 8vh 0 0 0vw;
    padding: 0;
    grid-column-gap: 3vw;
    grid-row-gap: 0;
    /* grid-gap: 0vh 3vw; */
    grid-template-columns: auto auto auto;
    /* padding: 10px; */
    /* margin: 10vh 0 2vh 4vw; */
    /* background-color: #FF4B59; */
}

.grid-container:hover {
    transition: .5s;
}

.grid-item {
    width: 26vw;
    height: 70%;
    padding: 0;
    /* width: 340px;
    height: 340px; */
    overflow: hidden;
    border-radius: 15px;
}

.grid-item:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: .5s;
}


/* .grid-item:hover {
    border-radius: 5%;
    max-width: 340px;
    max-height: 340px;
    width: auto;
    height: 50%;
    padding: 0;
    transition: .5s;
} */

.port-cell {
    text-align: center;
    width: 100%;
    cursor: pointer;
    transition: 0.3s;
    padding: 0;
    margin: 0;
}


/* .port-cell:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: .5s;
} */


/* .container-jobs {
    display: inline-block;
    position: relative;
    font-family: 'Avenir', sans-serif;
    margin: 0vh 0vw 0vw 0vw;
    padding: 4vh 2vw 4vh 2vw;
    font-size: 4vh;
} */

figcaption {
    top: 44vh;
    position: relative;
    /*float: center;*/
    text-align: center;
    font-family: 'Avenir', sans-serif;
    font-size: 4vh;
    margin: -10vh 0 0 2vw;
/*    padding: 0vh 2vw 4vh 1vw;*/
    color: rgb(255, 0, 55);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
    /* background-color: #FF4B59; */
}


/* .container-jobs:hover {
    border-radius: 5%;
    max-width: 340px;
    max-height: 340px;
    width: auto;
    height: 50%;
    padding: 0;
    transition: .5s;
} */

#footer-normal {
    position: relative;
    top: 0;
    bottom: 0;
    width: auto;
    height: 4.8vh;
    background: rgba(0, 0, 0, 0.4);
    padding: 0vh 6.6vw 6.6vw 0;
    box-sizing: border-box;
}

#copyright2 {
    float: center;
    color: #FFF;
    font-family: 'Avenir', sans-serif;
    padding: 0 20px;
}

#footer-normal h4 {
    line-height: 30px;
    float: left;
    margin-left: 7.6vw;
    padding: 1.5vh 4vw 0vw 0vh;
}

#footer-normal ul li a {
    padding: 3vh 1.5vw .8vw 2.5vh;
    color: rgb(255, 255, 255);
}

#footer-normal ul li a:hover {
    color: #FF4B59;
}


/* PORTFOLIO MODAL IMAGES */


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 10;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}


/* Modal Content (image) */

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}


/* Caption of Modal Image */

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 5vh 0;
    height: 150px;
    font-family: 'Avenir', sans-serif;
}


/* Add Animation */

.modal-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}


/* The Close Button */

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}